<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Explore a wide range of car modification and cleaning parts at competitive prices. Find everything you need to enhance and maintain your vehicle.">
    <meta name="keywords" content="car modification, car cleaning, auto parts, car accessories, vehicle maintenance">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://deploye-77587ca1458a.herokuapp.com//">
    <meta property="og:title" content="Car Modification & Cleaning Parts Store - Your Brand Name">
    <meta property="og:description" content="Explore a wide range of car modification and cleaning parts at competitive prices. Find everything you need to enhance and maintain your vehicle.">
    <meta property="og:image" content="https://deploye-77587ca1458a.herokuapp.com//images/banner1.jpg">
    <meta property="og:url" content="https://deploye-77587ca1458a.herokuapp.com/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!---facicon-->
    <link rel="icon" href="{% static 'store/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <title>Car Modification & Cleaning Parts Store - GLOW UP & SPARKLE</title>

    <style>

    </style>
  </head>

  <body>
    {% block header %}
      <!-- navbar -->
      <div class="container-fluid store-banner" id="heade-main">
        <div class="headerpad container">
          {% include 'navbar.html' %}
        </div>
        <div class="container  fadeInleft text-center centered">
          <h3>Your Ride with Premium Accessories and Cleaning Products</h3>
          <h1>Discover top-quality auto decoration and cleaning parts for your vehicle.</h1> <br>
        </div>
      </div>
    {% endblock %}
    <!--  -->
    {% block content %}
    {% endblock %}
    <footer>

    {% include 'footer.html' %}
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#newsletter-form').submit(function(e) {
            e.preventDefault(); // Prevent the default form submission

            var email = $('#email').val(); // Get the value of the email input

            if (email.trim() === '') {
                // Display an error message if the email is empty
                $('#newsletter-messages').html('<div class="alert ">Please enter your email address.</div>');
            } else {
                // Submit the form via AJAX if the email is not empty
                $.ajax({
                    type: 'POST',
                    url: '/subscribe/',
                    data: $(this).serialize(), // Serialize the form data
                    success: function(response) {
                        // Handle the success response
                        if (response.success) {
                            $('#newsletter-messages').html('<div class="alert ">Thank you for subscribing!</div>');
                        } else {
                            $('#newsletter-messages').html('<div class="alert">Email Already Registered!</div>');
                        }
                    },
                    error: function() {
                        // Handle the error response
                        $('#newsletter-messages').html('<div class="alert">An error occurred. Please try again later.</div>');
                    }
                });
            }
        });
    });
    </script>
  </body>
</html>
