{% extends 'base.html' %}
{% block header %}
<div class="shop" style="padding:0px;">
    <div class="headerpad container ">
        {% include "navbar.html" %}
    </div>
{% endblock %}

{% block content %}
<div class="container shop-b">
<div class="respo">
            <h4 style="color: white" class="e" id="">Check Out Form<br>Please Enter Your Details!</h4> <hr>

            <div class="" style="color: white !important;">
                <div class="">

                    <form action="{% if request.user.is_authenticated %}{% url 'orderdetails' %}{% else %}{% url 'orderdetails_guest' %}{% endif %}" method="POST">
                        {% if error_message %}
                        <div class="alert alert-danger">
                            {{ error_message }}
                        </div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label style="text-align: left !important;">First Name</label>
                            <input type="text" name="fname" id="" class="form-control" placeholder="" aria-describedby="helpId" />
                        </div>
                        <div class="form-group">
                            <label style="text-align: left !important;">Last Name</label>
                            <input type="text" name="lname" id="" class="form-control" placeholder="" aria-describedby="helpId" />
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" name="email" id="" class="form-control" placeholder="" aria-describedby="helpId" />
                        </div>
                        <div class="form-group">
                            <label style="text-align: left !important;">Address</label>
                            <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId" />
                        </div>
                        <div class="form-group">
                            <label for="">Phone</label>
                            <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId" />
                        </div>

                        <button style="width: 100%; font-family: Arial, Helvetica, sans-serif;" class="btn btn-success "href="onclick.windows.url'/success'">CheckOut</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
